*{
    margin: 0;
padding: 0; 
box-sizing: border-box;
 font-family: 'Dancing Script'; 
  display: flex;
  list-style-type:none;
  justify-content: space-between;
align-items: center;
} 
ul a {
    color: black; 
    text-decoration: solid;
}
 ul{
    list-style: none;
    display:flex;
    gap: 10px;

 }
.img {
    border-radius: 0%;
    width: 60px;
    height: 60px;
}
 .turnos {
    width: 60px;
    height: 60px;
}
 